body{
  background-color:rgba(0,0,0,.7);
}

.container{
  display:flex;
  justify-content:center;
  align-items:center;
  
}
.nav-logo{
  width:72px;
  height:72px;
  border:1px solid transparent;
  background:rgba(0,0,0,.6);
  border-radius:50%;
  box-shadow:0 0 10px white;
 
  
  
}
.nav-logo h3{
  font-size::16px;
  color:red;
  text-align:center;
  margin-top:6px;
}
 .counter-box{
     text-align: center;
     flex:0 0 70%;
     font-size: 5.9rem;
     border:2px solid rgb(163, 163, 173);
     border-radius:16px;
     box-shadow: 0 0 40px black;
 } 
 .counter{
     font-size: 5.5rem;
 }
 .btn{
     width:160px;
     height :40px ;
     color:red;
     background: rgba(0,0,0,.6);
     border-radius: 12px;
     font-size:1.3rem;
     letter-spacing: 2px;
     margin-top: 10px;
     
 }
 .btn:hover{
     background: blue;
     color: red;
 
 }
 h1{
     font-size: 3.8rem;
     color:#222;
     letter-spacing: 3px;
}

.footer-icons{
     padding:0.6rem;
     margin-top:2rem;
     margin-left:auto;
     margin-right: auto ;
     width:69%;
     height: 3.2rem;
     background: rgba(0,0,0,0.2);
     border-radius: 10px;
     box-shadow:0 0 5px white;

}
h4{
  font-size:22px;
  text-align:center;
  color:red;
  margin-top:15px;  
}